.room-item{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    background: #efefef;
    padding: 1rem;
}
.room-item .feature{
    width: 20%;
}
.room-item .label{
    padding-left: 2rem;
}
.room-item .value{
    font-weight: bold;
    padding-left: 1rem;
}
.room-item img{
    width: 100%;
}
.book-button-box{
    margin-left: 1rem;
}
.book-button-box a:link{
    padding: .5rem 1rem;
    background: green;
    color: #efefef;
    border-radius: 5px;
}
.booking-start, .booking-end{
    font-weight: bold;
    margin-left: .5rem;
}
.dates{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    background: #efefef;
    padding: 1rem;
}
.dates input{
    line-height: 2;
    padding-left: .3rem;
}
.dates > * {
    display: flex;
    align-items: center;
}
.dates *{
    margin-bottom: 0;
}
.dates label{
    margin-left: 2rem;
}
.accounts-table{
    display: flex;
    justify-content: space-between;
    background: #efefef;
    padding: 1rem;
    margin-bottom: 2rem;
}
.accounts-table .label{
    margin-right: 2rem;
}
.accounts-table .value{
    font-weight: bold;
}
.customer-table{
    background: #efefef;
    padding: 1rem;

}
.customer-table input{
    line-height: 2;
    padding: .5rem;
}
.customer-table p{
    display: flex;

}
.customer-table p > *{
    flex-basis: 15%;
}
.customer-table input[type=submit]{
    background: green;
    color: #efefef;
}